.quiz-container {
    width: 400px;
    margin: 50px auto;
  }
  
  .question-container {
    margin-bottom: 10px;
  }
  
  .options-container {
    margin-bottom: 20px;
  }
  
  .next-button {
    padding: 10px;
    font-size: 16px;
  }
  
  .result-container {
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }
  